body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    height: 10vh;
    button {
        background-color: orange;
        border-radius: 4px;
        margin: 20px;
        padding: 10px;
        border: 1px solid black;
        position: relative;
        cursor: pointer;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        &:hover {
            color: white;
            background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5))
        }
    }

    #scrambles {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }
    background-color: rgb(174, 114, 2);
}

main {
    background-color: bisque;
    height: 90vh;
}