* {
    box-sizing: border-box;
}

body, html, #root {
    margin: 0;
    padding: 0;
    height: 100%;
}

#root {
    position: relative;
}

header {
    height: 80px;
    position: fixed;
    width: 100%;
    button {
        background-color: orange;
        border-radius: 4px;
        margin: 20px;
        padding: 10px;
        border: 1px solid black;
        position: relative;
        cursor: pointer;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        &:hover {
            color: white;
            background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5))
        }
    }
    #scrambles {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }
    background-color: rgb(174, 114, 2);
}

main {
    display: flex;
    flex-direction: column;
    background-color: bisque;
    min-height: 100%;
    padding: 80px 10vw;
    //margin-top: 80px;
    h1 {
        padding: 0;
        margin: 0;
    }
    .case {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        justify-items: center;
        align-items: center;
        border: 1px solid black;
        border-radius: 4px;
        padding: 20px;
        margin: 10px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        background-color: white;
    }
    .componentTitle {
        text-align: center;
        padding: 40px 0px 20px 0px;
        font-family: sans-serif;
        color: black;
        text-shadow: 1px 1px 0 darkgray;
    }
}

.text {
    overflow-wrap: anywhere;
}